@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100%;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header a, footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration:underline;
}

header{
    background-color: #000000;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
    
header > p {
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section > p{
    font:  1em  var(--fonte3);
    line-height: 2em;
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: #525050;
    color: white;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 5px;
}





footer{
    background-color: #000000;
    color: white;   
    text-align: center; 
    padding: 10px;
}
